<style>
  #s24-dev-site-banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #cc0;
    color: #000;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #s24-dev-site-banner .toolbar-segment {
    float: left;
    padding: 0;
    width: 33%;
    line-height: 100%;
  }
  #s24-dev-site-banner .toolbar-segment > div {
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
  }
  #s24-dev-site-banner .warning {
    vertical-align: middle;
    height: 1.5em;
    margin: -0.3em 0 0 0.5em;
  }
</style>
<div id="s24-dev-site-banner">
  <div class="toolbar-content">
    <div class="toolbar-segment c1">
      <div>
        <svg class="warning" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" preserveRatio="xMidYMid meet">
          <path d="M3.09 0c-.06 0-.1.04-.13.09l-2.94 6.81c-.02.05-.03.13-.03.19v.81c0 .05.04.09.09.09h6.81c.05 0 .09-.04.09-.09v-.81c0-.05-.01-.14-.03-.19l-2.94-6.81c-.02-.05-.07-.09-.13-.09h-.81zm-.09 3h1v2h-1v-2zm0 3h1v1h-1v-1z" />
        </svg>
        You are viewing the {{ environment }} website
      </div>
    </div>
    <div class="toolbar-segment c2">
      <div>
        {{ details }}
      </div>
    </div>
  </div>
</div>
